* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  li {
      list-style: none;
  }

  a {
    text-decoration: none;
  }

.container {
    width: 1200px;
    margin: 0 auto;
  }
  header {
    height: 65px;
    background-color: rgb(236, 183, 165);  
  }
  header a {
    color: white;
  }
  .header-title  {
    font-size: 24px;
    margin-top: 15px;
    float: left;  
  }
.header-list {
    float: right;
}
.header-list a {
    float: right;
    margin: 3px 20px 0 20px; 
}
.header-list a:hover {
    border-bottom: solid ivory;
}
.main-wrapper {
    background-image: url("city_image.jpg");
    background-position: right 0% bottom 35%;
    height: 398px;
    width: 0 auto;
}
.main-wrapper img {
  float: left;
}
.main-copy {
  float: right;
  text-align: center;
  padding: 20px 20px 30px 20px;
  margin-top: 70px;
  margin-right: 100px;
  background-color: rgba(255, 255, 255,0.5);
}
.main-copy p {
  margin-bottom: 40px;
}
.main-copy a {
  color: white;
}
.fa {
  border-radius: 5px;
}
.fa-facebook {
  background-color: mediumblue;
  padding: 5px 10px;
  margin-right: 15px;
}
.fa-twitter {
  background-color: darkturquoise;
  padding: 6px 8px;
}
